<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>

    <title>Rock Paper Scissors</title>
</head>
<body>
    
    <div id='wrapper'>

        <h1>Choose your destructor...</h1>

        <%= image_tag('rock.png', :class => 'image', :id => 'rock') %>
        <%= image_tag('paper.png', :class => 'image', :id => 'paper') %>
        <%= image_tag('scissors.png', :class => 'image', :id => 'scissors') %>

    </div>

    <div id="win">
    
    </div>

    <div id="gameover">
    
    </div>

</body>
</html>