@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy')
    
*
    box-sizing: border-box
    font-family: Luckiest Guy
    margin: 0
    padding: 0

h1
    font-family: Luckiest Guy
    font-size: 60px
    line-height: 10rem
    text-align: center

.image
    cursor: pointer
    width: 20vw

#rock
    margin-left: 20vw

#points, #status
    font-size: 30px
    line-height: 5rem
    text-align: center

#win, #gameover
    display: none
    height: 100vh
    left: 0
    position: absolute
    top: 0
    width: 100vw

h2
    font-size: 60px
    line-height: 10rem
    text-align: center

button
    background-color: transparent
    font-size: 20px
    height: 50px
    margin-left: 40vw
    width: 200px

#win
    background-color: rgba(0, 255, 0, .9)
    color: white

    button
        border: 5px solid white
        color: white

#gameover
    background-color: rgba(255, 0, 0, .9)
    color: black

    button
        border: 5px solid black
        color: black
